.metering-page {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.metering-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: auto;
  gap: var(--cds-spacing-06, 1.5rem);
}

.metering-status-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--cds-spacing-06, 1.5rem);
}


